.page-login {
  .login {
    padding-top: 75px;

    input {
      border-style: hidden;

      &:focus {
        outline: none !important;
        border-color: #b6d0e6;
        box-shadow: 0 0 3px #b6d0e6;
      }
    }
  }
}
